<%= form_for(@actividad_turistica) do |f| %>
	<% if @actividad_turistica.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@actividad_turistica.errors.count, "error") %> prohibited this actividad turistica from being saved:</h2>
      		<ul>
      			<% @actividad_turistica.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>
	<div class="col-lg-6 col-md-6" id="form-wrapper">
  		<div id="tm-form-header">
			<h1><%= @titulo %></h1>
		</div>
		<div id="tm-form-content">
		  	<div class="form-group">
    			<%= f.label :actur_descripcion, "Descripción" %><br>
    			<%= f.text_field :actur_descripcion, options={class:"form-control"} %>
  			</div>
  			<div class="form-group">
    			<%= f.label :tipo_actividad_turistica_id, "Tipo de Actividad" %><br>
	    		<%= f.select :tipo_actividad_turistica_id, @tiposActividadTuristicas.map{|h|[h.tiAcT_nombre, h.id]}, {prompt: "-- SELECCIONE --"}, options={class:"form-control"} %>
  			</div>
  			<div class="form-group">
    			<%= label_tag :tarifa_actividad_turistica, "Tarifa" %><br>
	    		<%= text_field :tarifa, :trf_base, options={class:"form-control"} %>
  			</div>
	  		<div class="form-group">
	    		<%= f.label :Estado %><br>
	    		<%= f.select :actur_estadoRegistro, options_for_select(@estados.invert), {}, options={class:"form-control"} %>
			</div>
  		</div>
		<div id="tm-form-footer">
			<div class="actions">
				<script>
					$(document).on('page:update', function() {
						$("#cmd_aceptar").click(function(e){
							<% if params[:action] == "edit" then %>
								$('#<%= params[:action] %>_actividad_turistica_<%= @actividad_turistica.id %>').submit();
							<% elsif params[:action] == "new" or params[:action] == "create"%>
								$('#<%= params[:action] %>_actividad_turistica').submit();
							<% end %>
							e.preventDefault();
						});
					});
				</script>
				
				<%= link_to 'Regresar', actividad_turisticas_path , class:"button back" %> |
				<%= link_to 'Aceptar', nil, class:"button save", id:"cmd_aceptar" %>
				<% if params[:action] == "edit" then %>
					<% path = request.fullpath %>
					<% path["/edit"]="" %>
					| <%= link_to 'Consultar', path, class:"button find" %>
				<% end %> 
			</div>
		</div>
	</div>
<% end %>

<script>
	$(function(){
		 $( document ).trigger( "page:update" );
	});
</script>