<section class="tm-white-bg section-padding-bottom" id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<% unless notice.nil? %>
					<br>
					<div class="alert alert-success">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<p id="notice"><%= notice %></p>
					</div>
				<% end %>
				<div class="tableWrapper">
					<div class="section-header">
						<h1>ACTIVIDADES TURISTICAS</h1>
					</div>
					<div class="col-lg-12 col-md-12">
						<table id="indexTable" class="stripe hover">
						  	<thead>
						    	<tr>
							   		<th>Descripcion</th>
							      	<th>Tipo Actividad</th>
							      	<th>Estado</th>
							      	<th colspan="3"></th>
	    						</tr>
	  						</thead>
	  						<tbody>
	    						<% @actividad_turisticas.each do |actividad_turistica| %>
		      						<tr>
								        <td><%= actividad_turistica.actur_descripcion %></td>
								        <td><%= actividad_turistica.tipo_actividad_turistica.tiAcT_nombre %></td>
								        <td><%= @estados[actividad_turistica.actur_estadoRegistro] %></td>
						        		<td><%= link_to(actividad_turistica, class:"btn btn-info") do %>
						        				<i class="fa fa-book"></i>
						        			<% end %>
						        		</td>
						        		<td><a href="<%= edit_actividad_turistica_path(actividad_turistica) %>" class="btn btn-warning">
						        				<i class="fa fa-edit"></i>
						        			</a>
						        		</td>
						        		<td>
						        			<a data-confirm="¿Está seguro(a) de eliminar este registro?" class="btn btn-danger" rel="nofollow" data-method="delete" href=<%= "/actividad_turisticas/#{actividad_turistica.id}"%> >
						        				<i class="fa fa-trash"></i>
						        			</a>
						        		</td>
		      						</tr>
	    						<% end %>
	  						</tbody>
						</table>
					</div>
					<div class="section-footer">
						<%= link_to 'Regresar', administracion_path , class:"button back" %>
						<%= link_to 'Nuevo registro', new_actividad_turistica_path, class:"button add" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>

	$(document).on('page:update', function() {
			if ( $.fn.dataTable.isDataTable( '#indexTable' ) ) {
			    table = $('#indexTable').DataTable();
			}
			else {
			    table = $('#indexTable').DataTable( {
			        pagingType: "full_numbers"
			    } );
			}
		});
		
	$(function() {
		$('#indexTable').DataTable({
    		"pagingType": "full_numbers",
			"aoColumns" : [
							{ sWidth : "50%" },
							{ sWidth : "25%" },
							{ sWidth : "25%" }
						]
    		});
	});
</script>
