<h2 style="color:#2dc970; border-bottom:2px solid #FFFF00; width:80%; text-align: center; padding-bottom: 2px;"><%= @tipoMensaje %></h2>
<table width="80%">
	<tbody>
		<tr>
			<td style="background-color: #2dc970; color:white; border-radius: 5px; padding:5px 10px; width:20%;"><strong>ASUNTO</strong></td>
			<td style="background-color: #f6f6f6; border-radius: 5px; padding:5px 10px; width:80%;"><%= @asunto %></td>
		</tr>
		<tr>
			<td style="background-color: #2dc970; color:white; border-radius: 5px; padding:5px 10px;"><strong>CLIENTE</strong></td>
			<td style="background-color: #f6f6f6; border-radius: 5px; padding:5px 10px;"><%= @remitente %></td>
		</tr>
		<tr>
			<td style="background-color: #2dc970; color:white; border-radius: 5px; padding:5px 10px;"><strong>CORREO ELECTRÓNICO</strong></td>
			<td style="background-color: #f6f6f6; border-radius: 5px; padding:5px 10px;"><%= @correoCliente %></td>
		</tr>
		<tr>
			<td style="background-color: #2dc970; color:white; border-radius: 5px; padding:5px 10px;"><strong>TELÉFONO</strong></td>
			<td style="background-color: #f6f6f6; border-radius: 5px; padding:5px 10px;"><%= @telefono %></td>
		</tr>
		<tr>
			<td style="background-color: #2dc970; color:white; border-radius: 5px; padding:5px 10px;"><strong>MENSAJE</strong></td>
			<td style="background-color: #f6f6f6; border-radius: 5px; padding:5px 10px;"><%= @contenido %></td>
		</tr>
	</tbody>
</table>