<%= form_for(@entidad_territorial) do |f| %>
	<% if @entidad_territorial.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@entidad_territorial.errors.count, "error") %> prohibited this entidad_territorial from being saved:</h2>
			<ul>
      			<% @entidad_territorial.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>
	
	<div class="col-lg-6 col-md-6" id="form-wrapper">
  		<div id="tm-form-header">
			<h1><%= @titulo %></h1>
		</div>
		<div id="tm-form-content">
			
			<%= render 'jerarquia_form'%>
			
			<div class="form-group">
			    <%= f.hidden_field :enter_padreId, options={value: @padreId} %>
			</div>
	  		<div class="form-group">
		    	<%= f.label :enter_codigoOficial, "Código oficial*" %><br>
		    	<%= f.text_field :enter_codigoOficial, options={size: 10, maxlength: 10} %>
		  	</div>
	  		<div class="form-group">
		    	<%= f.label :enter_nombreOficial, "Nombre oficial*" %><br>
		    	<%= f.text_field :enter_nombreOficial, options={size: 60, required: :required} %>
		  	</div>
	  		<div class="form-group">
		    	<%= f.label :enter_nombreCorto, "Nombre corto*" %><br>
		    	<%= f.text_field :enter_nombreCorto, options={size: 60, required: :required} %>
		  	</div>
		  	<div class="form-group">
		    	<%= f.label :enter_presentacion, "Presentación" %><br>
		    	<%= f.text_area :enter_presentacion, options={cols:62, rows:5} %>
		  	</div>
		  	<div class="form-group">
		    	<%= f.label :enter_nivel, "Nivel*" %><br>
		    	<%= f.number_field :enter_nivel, options={readonly: true, value: @enter_nivel } %>
		  	</div>
		  	<div class="form-group">
		    	<%= f.label :region_id, "Región" %><br>
		    	<%= f.select(:region_id, options_for_select(@regiones, @entidad_territorial.region_id)) %>
		  	</div>
		  	<div class="form-group">
		    	<%= f.label :division_pais_id, "Categoría*" %><br>
		    	<!-- Default: CONTINENTE -->
		    	<%= f.select(:division_pais_id, options_for_select(@unidadesTerritoriales)) %>
		  	</div>
		  	<div class="form-group">
		    	<%= f.label :enter_estadoRegistro, "Estado*" %><br>
		    	<%= f.select(:enter_estadoRegistro, options_for_select(@estados.invert)) %>
		  	</div>
  		</div>
		<div id="tm-form-footer">
			<div class="actions">
				<%= link_to 'Regresar', entidad_territorials_path , class:"button back" %> |
				<%= link_to 'Aceptar', nil, class:"button save", id:"cmd_aceptar" %>
				<% if params[:action] == "edit" then %>
					| <%= link_to 'Consultar', @entidad_territorial, class:"button find" %>
				<% end %> 
			</div>
		</div>
	</div>
<% end %>
<script>
	$(document).on('page:load', function() {
	
		$("#cmd_aceptar").click(function(e){
			<% if params[:action] == "edit" then %>
				$('#<%= params[:action] %>_entidad_territorial_<%= @entidad_territorial.id %>').submit();
			<% elsif params[:action] == "new" or params[:action] == "create"%>
				$('#<%= params[:action] %>_entidad_territorial').submit();
			<% end %>
			e.preventDefault();
		});
	});
</script>

<script>
	$(function(){
		 $( document ).trigger( "page:load" );
	});
</script>