<p id="notice"><%= notice %></p>

<p>
  <strong>Vehi tipo:</strong>
  <%= @vehiculo.vehi_tipo %>
</p>

<p>
  <strong>Vehi modelocodigo:</strong>
  <%= @vehiculo.vehi_modeloCodigo %>
</p>

<p>
  <strong>Vehi mediocodigo:</strong>
  <%= @vehiculo.vehi_medioCodigo %>
</p>

<p>
  <strong>Vehi nombre:</strong>
  <%= @vehiculo.vehi_nombre %>
</p>

<p>
  <strong>Vehi matricula:</strong>
  <%= @vehiculo.vehi_matricula %>
</p>

<p>
  <strong>Vehi propietarioid:</strong>
  <%= @vehiculo.vehi_propietarioId %>
</p>

<p>
  <strong>Vehi tipopropietario:</strong>
  <%= @vehiculo.vehi_tipoPropietario %>
</p>

<p>
  <strong>Vehi sucursalempresapropid:</strong>
  <%= @vehiculo.vehi_sucursalEmpresaPropId %>
</p>

<p>
  <strong>Vehi capacpesomaximo:</strong>
  <%= @vehiculo.vehi_capacPesoMaximo %>
</p>

<p>
  <strong>Vehi capacpesopasajeros:</strong>
  <%= @vehiculo.vehi_capacPesoPasajeros %>
</p>

<p>
  <strong>Vehi capaccargabodega:</strong>
  <%= @vehiculo.vehi_capacCargaBodega %>
</p>

<p>
  <strong>Vehi capacpasajeros:</strong>
  <%= @vehiculo.vehi_capacPasajeros %>
</p>

<p>
  <strong>Vehi estadoregistro:</strong>
  <%= @vehiculo.vehi_estadoRegistro %>
</p>

<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
