<section class="tm-white-bg section-padding-bottom" id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<% unless notice.nil? %>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<br>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="notice"><%= notice %></p>
							</div>
						</div>
					</div>
				<% end %>
				
  				<div class="col-lg-6 col-md-6" id="form-wrapper">
	  				<div id="tm-form-header">
						<h1>Consultar Control</h1>
					</div>
					<div id="tm-form-content">
						<div class="col-lg-6 col-md-6">
							<p><strong>Descripción:</strong></p>
							<p><strong>HTML Id:</strong></p>
							<p><strong>Tipo:</strong></p>
							<p><strong>Modelo:</strong></p>
							<p><strong>Accion:</strong></p>
							<p><strong>Creado por:</strong></p>
							<p><strong>Actualizado por:</strong></p>
							<p><strong>Estado:</strong></p>
						</div>
						<div class="col-lg-6 col-md-6">
							<p><%= @control.ctrl_descripcion %></p>
							<p><%= @control.ctrl_html_id %></p>
							<p><%= @control.ctrl_tipo %></p>
							<p><%= @control.modelo.mdl_nombre %></p>
							<p><%= @control.accion.acc_nombre %></p>
							<p><%= @control.ctrl_created_by %>&nbsp;</p>
							<p><%= @control.ctrl_updated_by %>&nbsp;</p>
							<p><%= @estados[@control.ctrl_estadoRegistro] %></p>
  							<p>&nbsp;</p>
  						</div>
					</div>
					<div id="tm-form-footer">
						<%= link_to 'Regresar', controls_path, class:"button back" %> |
						<%= link_to 'Modificar', edit_control_path(@control), class:"button edit" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>