<section class="tm-banner">
			<!-- Flexslider -->
			<div class="flexslider flexslider-banner">
			  <ul class="slides">
			    <li>
				    <div class="tm-banner-inner">
						<h1 class="tm-banner-title"><%= @paquete_turistico.pqTur_nombre %></span></h1>
					</div>
			      <%= image_tag(@paquete_turistico.pqTur_portada, alt: "Bahía Solano") %>
			    </li>
			  	<% @fotosPlan.each do |h| %>
				    <li>
					    <!--div class="tm-banner-inner">
					    	<p class="tm-banner-subtitle"><span><%= h.enter_nombreCorto %></span></p>
						</div-->
				      <%= image_tag("models/entidad_territorials/" + h.foto_nombreArchivo, alt: "Bahía Solano") %>
				    </li>
			    <% end %>
			  </ul>
			</div>	
		</section>
	
	<!-- white bg -->
	<section class="section-padding-top tm-white-bg">
		<div class="container">
			<div class="row">
				<p>&nbsp;</p>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="tab-wrapper">
						<ul class="nav nav-tabs tm-white-bg" role="tablist" id="generalTabs">
						    <li role="presentation" class="active">
								<a href="#descripcion" aria-controls="datos" role="tab" data-toggle="tab">Descripción</a>
						    </li>
						    <li role="presentation">
						    	<a href="#itinerario" aria-controls="hotel" role="tab" data-toggle="tab">Itinerario</a>
						    </li>
						    <li role="presentation">
						    	<a href="#precios" aria-controls="hotel" role="tab" data-toggle="tab">Tarifas</a>
						    </li>
						    <li role="presentation">
						    	<a href="#reservas" aria-controls="hotel" role="tab" data-toggle="tab">Reservar</a>
						    </li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane tab-plan fade in active tm-white-bg" id="descripcion" >
								<div class="tm-search-box">
									<br>
									<div class="col-lg-12">
										<div class="col-lg-12 plan-section-wrapper">
											<div class="col-lg-4 itinr-title">
												<h3>Presentación</h3>
											</div>
											<div class="col-lg-8 itinr-desc">
												<%= @paquete_turistico.pqTur_descripcion %>
											</div>
										</div>
										<div class="col-lg-12 plan-section-wrapper">
											<div class="col-lg-4 itinr-title">
												<h3>El plan incluye</h3>
											</div>
											<div class="col-lg-8 itinr-desc">
												<% arrItems = @paquete_turistico.pqTur_incluye.split(13.chr) %>
												<ul>
													<% arrItems.each do |i| %>
														<li><%= i %></li>
													<% end %>
												</ul>
											</div>
										</div>
										<div class="col-lg-12 plan-section-wrapper">
											<div class="col-lg-4 itinr-title">
												<h3>El plan no incluye</h3>
											</div>
											<div class="col-lg-8 itinr-desc">
												<% arrItems = @paquete_turistico.pqTur_noIncluye.split(13.chr) %>
												<ul>
													<% arrItems.each do |i| %>
														<li><%= i %></li>
													<% end %>
												</ul>
											</div>
										</div>
										<div class="col-lg-12 plan-section-wrapper">
											<div class="col-lg-4 itinr-title">
												<h3>Recomendaciones</h3>
											</div>
											<div class="col-lg-8 itinr-desc">
												<% arrItems = @paquete_turistico.pqTur_recomendaciones.split(13.chr) %>
												<ul>
													<% arrItems.each do |i| %>
														<li><%= i %></li>
													<% end %>
												</ul>
											</div>
										</div>
									</div>
									<p>&nbsp;</p>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane tab-plan fade in tm-white-bg" id="itinerario">
								<div class="tm-search-box">
									<div class="col-lg-12">
										<br>
										<% i = 1 %>
										<% unless @itinerario.nil? %>
											<% @itinerario.each do |t| %>
												<div class="col-lg-12 plan-section-wrapper">
													<div class="col-lg-4 itinr-title">
														<h3><%= "Día " + i.to_s + (t.itnr_titulo == nil ? "" : " - " + t.itnr_titulo) %></h3>
													</div>
													<div class="col-lg-8 itinr-desc">
														<p class="itinr-desc"><%= t.itnr_actividad %></p>
													</div>
												</div>
												<% i += 1 %>
											<% end %>
										<% end %>
									</div>
									<p>&nbsp;</p>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane tab-plan fade in tm-white-bg" id="precios">
								<div class="tm-search-box">
						            <div class="row">
						            	<div class="col-lg-12">
						            		<table class="pricing">
						            			<tr>
						            				<th></th>
						            				<th colspan="2">VALOR DEL PLAN</th>
						            			</tr
						            			<tr>
						            				<th>Nro. de días</th>
						            				<th>ACOMODACIÓN<br>MULTIPLE</th>
						            				<th>ACOMODACIÓN<br>DOBLE</th>
						            			</tr>
						            			<% unless @tarifas.nil? %>
							            			<% @tarifas.each do |h| %>
								            			<tr>
								            				<td><%= h.trf_detalleAplicacion %></td>
								            				<td><%= number_to_currency(h.trf_base) %></td>
								            				<td><%= number_to_currency(h.trf_flexi) %></td>
								            			</tr>
							            			<% end %>
							            		<% end %>
						            		</table>
							            </div>
						            </div>
									<p>&nbsp;</p>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane tab-plan fade in tm-white-bg" id="reservas" style="min-height: 470px;">
								<div class="tm-search-box">
										<div class="tm-form-inner">
											<div class="col-lg-12">
												<div class="col-lg-3">
												</div>
												<div class="col-lg-6">
													<label class="tm-label-radio"><input type="radio" name="optTipoMensaje" value="RESERVA" checked="checked"> Reservar</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<label class="tm-label-radio"><input type="radio" name="optTipoMensaje" value="CONTACTO"> Solicitar información</label>
												</div>
												<div class="col-lg-3">
												</div>
											</div>
											<div class="col-lg-3">
											</div>
											<div class="col-lg-6 div-form" id="RESERVA">
												<%= form_tag "/detalle_reservas/solicitar_reserva", {method: "post", id: "frmReserva"} do %>
													<div class="col-lg-12">
														<div class="form-group">
															<%= select_tag :cboOrigen, options_from_collection_for_select(@ciudadesOrigen, :id, :enter_nombreCorto), options={class:"form-control", prompt: "-- ORIGEN --"} %>
															<%= hidden_field_tag :cboDestino, @paquete_turistico.pqTur_destino %>
															<%= hidden_field_tag :datosProducto, "PAQUETUR|" + @paquete_turistico.id.to_s %>
														</div>
													</div>
													<div class="col-lg-12">
											          	<div class="form-group">
											                <div class='input-group date' id='datetimepicker1'>
											                	<%= text_field_tag "txtFechaIda", nil, options = {class:"form-control", placeholder:"Fecha de salida"} %>
											                    <span class="input-group-addon">
											                        <span class="fa fa-calendar"></span>
											                    </span>
											                </div>
											            </div>
											      	</div>
													<div class="col-lg-12">
											          	<div class="form-group">
											                <div class='input-group date' id='datetimepicker2'>
											                	<%= text_field_tag "txtFechaRegreso", nil, options = {class:"form-control", placeholder:"Fecha de regreso"} %>
											                    <span class="input-group-addon">
											                        <span class="fa fa-calendar"></span>
											                    </span>
											                </div>
											            </div>
											      	</div>
													<div class="col-lg-12">
											            <div class="form-group">
															<div class="row">
																<div class="col-xs-4">
																	<%= label_tag nil, "Adultos", title: "12 años o más"%>
																</div>
																<div class="col-xs-4">
																	<%= label_tag nil, "Menores", title: "2 a 11 años"%>
																</div>
																<div class="col-xs-4">
																	<%= label_tag nil, "Infantes", title: "0 a 23 meses"%>
																</div>				
															</div>
															<div class="row">
																<div class="col-xs-4">
																	<%= select_tag "cboAdultos", options_for_select( (1..10).step(1).map{|n| n%1 == 0 ? n.to_i : n} ), title:"12 años o más", class:"form-control" %>
																</div>
																<div class="col-xs-4">
																	<%= select_tag "cboMenores", options_for_select( (0..5).step(1).map{|n| n%1 == 0 ? n.to_i : n} ), title:"2 a 11 años", class:"form-control" %> 
																</div>
																<div class="col-xs-4">
																	<%= select_tag "cboInfantes", options_for_select( (0..5).step(1).map{|n| n%1 == 0 ? n.to_i : n} ), title:"0 a 23 meses", class:"form-control" %>
																</div>
															</div>
											          	</div>
													</div>
													<div class="col-lg-12">
														<%= hidden_field_tag :authenticity_token, form_authenticity_token %>			
											            <div class="form-group tm-yellow-gradient-bg text-center">
											            	<input type="button" id="cmdReservar" class="tm-orange-btn" value="Reservar">
											            </div>
										           </div> 
												<% end %>
												
											</div>
										<div class="col-lg-6 div-form" id="CONTACTO">
											<div class="col-lg-12">
												<%= form_tag "/about/mensaje_contacto", {method: "post", id: "frmContacto"} do %>
													<%= render 'about/form_contacto' %>
													<%= hidden_field_tag :tipo_mensaje, "SOLICITUD DE INFORMACIÓN" %>
													 
										            <div class="form-group tm-yellow-gradient-bg text-center">
										            	<input type="button" id="cmdEnviar" class="tm-orange-btn" value="Enviar">
										            </div>
												<% end %>
											</div>
										</div>
											<div class="col-lg-3">
											</div>
										<p>&nbsp;</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- tab Wrapper -->
			</div>
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</section>
	
	<script>
		
		$(document).on('page:update', function() {
			
            $("#txtFechaIda").val("");
            $("#txtFechaRegreso").val("");
            $(".div-form").fadeOut();
            $("#RESERVA").fadeIn();
            $("#msj_asunto").val("PLAN <%= @paquete_turistico.pqTur_nombre %>");
            $("#msj_asunto").prop("readonly", true);
            
            
			
			$('.date').datetimepicker({
            	format: 'DD/MM/YYYY',
            	defaultDate:false,
            	minDate: moment()
            });
            
			$("input:radio[name=optTipoMensaje]").click(function(){
    			$(".div-form").fadeOut(1);
    			$("#" + $("input:radio[name=optTipoMensaje]:checked").val()).fadeIn(1);
			});
			
			$("#cmdReservar").click(function(e){
				$("#frmReserva").submit();
				e.preventDefault();
			});
			
			$("#cmdEnviar").click(function(e){
				$("#frmContacto").submit();
				e.preventDefault();
			});
		});
	</script>