<section class="tm-white-bg section-padding-bottom" id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<% unless notice.nil? %>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<br>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="notice"><%= notice %></p>
							</div>
						</div>
					</div>
				<% end %>
				
  				<div class="col-lg-6 col-md-6" id="form-wrapper">
	  				<div id="tm-form-header">
						<h1>Consultar Región</h1>
					</div>
					<div id="tm-form-content">
						<div class="col-lg-4 col-md-4">
							<p><strong>Codigo:</strong></p>
							<p><strong>Nombre:</strong></p>
							<p><strong>Estado Registro:</strong></p>
						</div>
						<div class="col-lg-8 col-md-8">
							<p><%= @modelo.mdl_codigo %></p>
							<p><%= @modelo.mdl_nombre %></p>
							<p><%= @estados[@modelo.mdl_estadoRegistro] %></p>
  							<p>&nbsp;</p>
  						</div>
					</div>
					<div id="tm-form-footer">
						<%= link_to 'Regresar', modelos_path, class:"button back" %> |
						<%= link_to 'Modificar', edit_modelo_path(@modelo), class:"button edit" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>