	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
			  <ul class="slides">
			  	<li>
		      		<%= image_tag("page/login.png") %>
		      		<div class="flex-caption">
		      			<h2 class="slider-title">Iniciar Sesión</h2>
		      			<!--h3 class="slider-subtitle"></h3-->
		      			<p class="slider-description">
						<% if notice %>
							<br>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="notice"><%= notice %></p>
							</div>
						<% end %>
						<% if alert %>
							<br>
							<div class="alert alert-danger">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="alert"><%= alert %></p>
							</div>
						<% end %>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						  <div class="form-group">
						    <%= f.email_field :email, options={class:"form-control", autofocus: true, placeholder: "USUARIO"} %>
						  </div>
						
						  <div class="form-group">
						    <%= f.password_field :password, options={class:"form-control", autocomplete: "off", placeholder: "CONTRASEÑA"} %>
						  </div>
						
						  <% if devise_mapping.rememberable? -%>
						    <div class="form-group">
						      <%= f.check_box :remember_me %>
						      <%= f.label :remember_me, "Recordar mis datos*" %>
						    </div>
						  <% end -%>
					
					  	<div class="actions">
					    	<%= f.submit "Ingresar" %>
					  	</div>
					<% end %>
					<br>
					<strong>
						<%= render "devise/shared/links" %>
					</strong>
		      			</p>
				      	<div class="slider-social">
				      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
				      		<a href="https://www.facebook.com/naisa.tours" target="_blank"><i class="fa fa-facebook"></i></a>
				      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
				      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
				      	</div>
		      		</div>			      
		    	</li>
			  </ul>
			</div>
		</div>
	</section>
