<section class="tm-white-bg section-padding-bottom" id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<% unless notice.nil? %>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<br>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="notice"><%= notice %></p>
							</div>
						</div>
					</div>
				<% end %>
				
  				<div class="col-lg-6 col-md-6" id="form-wrapper">
	  				<div id="tm-form-header">
						<h1>Consultar Unidad Territorial</h1>
					</div>
					<div id="tm-form-content">
						<div class="col-lg-3 col-md-3">
							<p><strong>Nombre:</strong></p>
							<p><strong>Estado:</strong></p>
							<p>&nbsp;</p>
						</div>
						<div class="col-lg-9 col-md-9">
							<p><%= @unidad_territorial.undter_nombre %></p>
							<p><%= @unidad_territorial.undter_estadoRegistro %></p>
						</div>
					</div>
					<div id="tm-form-footer">
						<%= link_to 'Regresar', unidad_territorials_path, class:"button back" %> |
						<%= link_to 'Modificar', edit_unidad_territorial_path(@unidad_territorial), class:"button edit" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>