<section class="tm-white-bg section-padding-bottom" id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<% unless notice.nil? %>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<br>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="notice"><%= notice %></p>
							</div>
						</div>
					</div>
				<% end %>
				
  				<div class="col-lg-9 col-md-9" id="form-wrapper">
	  				<div id="tm-form-header">
						<h1>Consultar Persona</h1>
					</div>
					<div id="tm-form-content">
						<div class="col-lg-3 col-md-3">
						<p><strong>Tipo Docum. Identidad:</strong></p>
						<p><strong>Nro. Docum. Identidad:</strong></p>
						<p><strong>Nombre Completo:</strong></p>
						<p><strong>Alias:</strong></p>
						<p><strong>Sexo:</strong></p>
						<p><strong>Fecha de Nacimiento:</strong></p>
						<p><strong>Peso Corporal:</strong></p>						
						<p><strong>Estado Civil:</strong></p>
						<p><strong>Dirección de Domicilio:</strong></p>
						<p><strong>Ciudad de Domicilio:</strong></p>
						<p><strong>Teléfono Personal 1:</strong></p>
						<p><strong>Teléfono Personal 2:</strong></p>
						<p><strong>E-Mail Personal:</strong></p>
						<p><strong>Perfil Laboral:</strong></p>
						<p><strong>Empresa:</strong></p>
						<p><strong>Sucursal:</strong></p>
						<p><strong>Cargo:</strong></p>
						<p><strong>Teléfono Laboral 1:</strong></p>
						<p><strong>Teléfono Laboral 2:</strong></p>
						<p><strong>E-Mail Laboral:</strong></p>
						<p><strong>Estado:</strong></p>
						</div>
						<div class="col-lg-9 col-md-9">
						<p><%= @tiposIdentPersona[@persona.pers_documentoIdentidad[-2, 2]] %></p>
						<p><%= @persona.pers_documentoIdentidad[0, @persona.pers_documentoIdentidad.length - 2]  %></p>
						<p><%= @persona.pers_nombres + " " + @persona.pers_apellidos %></p>
						<p><%= @persona.pers_alias %></p>
						<p><%= @generos[@persona.pers_sexo] %>&nbsp;</p>
						<p><%= @persona.pers_fechaNacimiento %>&nbsp;</p>
						<p><%= (@persona.pers_pesoCorporal == nil ? 0.to_s : @persona.pers_pesoCorporal.to_s) + " kg" %></p>
						<p><%= @estadosCiviles[@persona.pers_estadoCivil] %>&nbsp;</p>
						<p><%= @persona.pers_direccionDomicilio %>&nbsp;</p>
						<p><%= @ciudadDomicilio %>&nbsp;</p>
						<p><%= @persona.pers_telefonoPersonal1 %>&nbsp;</p>
						<p><%= @persona.pers_telefonoPersonal2 %>&nbsp;</p>
						<p><%= @persona.pers_correoElectrPersonal %>&nbsp;</p>
						<p><%= @perfilesLaborales[@persona.pers_perfilLaboral] %>&nbsp;</p>
						<p><%= @empresa == nil ? "" : @empresa.empr_nombreCorto %>&nbsp;</p>
						<p><%= @sucursal == nil ? "" : @sucursal.sucEmpr_nombreSucursal %>&nbsp;</p>
						<p><%= @persona.empresaCargo %>&nbsp;</p>
						<p><%= @persona.pers_telefonoLaboral1 %>&nbsp;</p>
						<p><%= @persona.pers_telefonoLaboral2 %>&nbsp;</p>
						<p><%= @persona.pers_correoElectrLaboral %>&nbsp;</p>
						<p><%= @estados[@persona.pers_estadoRegistro] %></p>
						<p>&nbsp;</p>
					</div>
					<div id="tm-form-footer">
						<%= link_to 'Regresar', personas_path, class:"button back" %> |
						<%= link_to 'Modificar', edit_persona_path(@persona), class:"button edit" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
