<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>
      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="col-lg-11 col-md-11" id="form-wrapper">
  		<div id="tm-form-header">
			<h1><%= @titulo %></h1>
		</div>
		<div id="tm-form-content">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
			    	<%= f.label :empr_tipoDocumIdentidad, "Tipo Docum. Identidad" %><br>
			    	<% tipoDocumEmpresa = nil %>
			    	<% unless @empresa.empr_documentoIdentidad.nil? %>
			    		<% tipoDocumEmpresa = @empresa.empr_documentoIdentidad[-2,2] %>
			    	<% end %>
			    	<%= select_tag(:tipoIdentificacion, options_for_select(@tiposIdentEmpresa.invert, tipoDocumEmpresa), options={class:"form-control", prompt: "-- SELECCIONE --"}) %>
				</div>
				<div class="form-group">
			    	<%= f.label :empr_documentoIdentidad, "Número Docum. Identidad" %><br>
			    	<%= text_field_tag(:numeroIdentificacion, @empr_numeroIdentidad, options={class:"form-control", required: :required}) %>
			    	<%= f.hidden_field :empr_documentoIdentidad %>
				</div>
			  	<div class="form-group">
			    	<%= f.label :empr_razonSocial, "Razón Social*" %><br>
			    	<%= f.text_field :empr_razonSocial, options={class:"form-control", size: 60, required: :required} %>
			  	</div>
			  	<div class="form-group">
			    	<%= f.label :empr_nombreCorto, "Nombre Corto*" %><br>
			    	<%= f.text_field :empr_nombreCorto, options={class:"form-control", size: 60, required: :required} %>
			  	</div>			  
			  	<div class="form-group">
			    	<%= f.label :empr_tipoEmpresa, "Tipo De Empresa" %><br>
			    	<%= f.select :empr_tipoEmpresa, options_for_select(@tiposEmpresa.invert, @empresa.empr_tipoEmpresa), {}, options_html={class:"form-control", prompt: "-- SELECCIONE --"} %>
			  	</div>
			  	<div class="form-group">
			    	<%= f.label :empr_sectorEconomico, "Tipo de Capital" %><br>
			    	<%= f.select :empr_sectorEconomico, options_for_select(@tiposCapital.invert, @empresa.empr_sectorEconomico), {}, options_html={class:"form-control", prompt: "-- SELECCIONE --"} %>
			  	</div>
			</div>
			<div class="col-lg-6 col-md-6">
			  	<div class="form-group">
			    	<%= f.label :empr_docIdentReprLegal,"Representante Legal" %><br>
			    	<%= f.text_field :empr_docIdentReprLegal, options={class:"form-control", size: 60} %>
			  	</div>
			  	<div class="form-group">
			    	<%= f.label :empr_sitioWeb, "Sitio Web" %><br>
			    	<%= f.url_field :empr_sitioWeb, options={class:"form-control", size: 60} %>
			  	</div>
			  	<div class="form-group">
			    	<%= f.label :empr_correoElectronico, "Correo Electrónico" %><br>
			    	<%= f.email_field :empr_correoElectronico, options={class:"form-control", size: 60} %>
			  	</div>
			  	<div class="form-group">
			    	<%= f.label :empr_otrosDatos, "Otros Datos" %><br>
			    	<%= f.text_field :empr_otrosDatos, options={class:"form-control", size: 60} %>
			  	</div>
			  	<div class="form-group">
			    	<%= f.label :empr_estadoRegistro, "Estado*" %><br>
			    	<%= f.select(:empr_estadoRegistro, options_for_select(@estados.invert), {}, options_html={class:"form-control"}) %>
			  	</div>
			</div>
		</div>
		<div id="tm-form-footer">
			<div class="actions">
				<script>
					document.addEventListener("turbolinks:load", function() {
						
						$("#cmd_aceptar").click(function(e){
							var nroIdentidadEmpresa;
							nroIdentidadEmpresa = $("#numeroIdentificacion").val() + $("#tipoIdentificacion").val();
							nroIdentidadEmpresa = nroIdentidadEmpresa.replace(/ /g, '');
							$("#empresa_empr_documentoIdentidad").val(nroIdentidadEmpresa);
							
							<% if params[:action] == "edit" then %>
								$('#<%= params[:action] %>_empresa_<%= @empresa.id %>').submit();
							<% elsif params[:action] == "new" or params[:action] == "create"%>
								$('#<%= params[:action] %>_empresa').submit();
							<% end %>
							e.preventDefault();
						});
					});
				</script>
				
				<%= link_to 'Regresar', empresas_path , class:"button back" %> |
				<%= link_to 'Aceptar', nil, class:"button save", id:"cmd_aceptar" %>
				<% if params[:action] == "edit" then %>
					| <%= link_to 'Consultar', @empresa, class:"button find" %>
				<% end %> 
			</div>
		</div>
	</div>
<% end %>

<script>
	$(function(){
		 $( document ).trigger( "page:update" );
	});
</script>