	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
			  <ul class="slides">
			    <li>
			      <%= image_tag("page/about-1.jpg") %>
			      <div class="flex-caption">
			      	<h2 class="slider-title">Bienvenidos a Naisa Tours SAS</h2>
			      	<h3 class="slider-subtitle">La agencia de viajes y turismo del Pacífico colombiano</h3>
			      	<p class="slider-description">Somos una empresa de turismo con experiencia y amplios conocimientos en destinos del Pacífico colombiano, con gran empeño en ofrecer servicios que superen 
			      								  las expectativas de nuestros clientes mientras disfrutan la exuberante belleza natural de los lugares que proponemos visitar.<br><br>
			      								  En nuestros años de operación también hemos llevados grupos de clientes a recorrer toda la geografía nacional desde el eje cafetero a los llanos orientales, 
			      								  pasando por la región andina y terminando en la costa atlántica. Además, hemos visitado destinos internacionales como Isla Margarita en Venezuela,
			      								  Ecuador, Panamá y Cancún en México.
			      								  
			      								  ¡Bienvenidos!
			      	</p>
			      								  
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="https://www.facebook.com/naisa.tours" target="_blank"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <%= image_tag("page/about-1.jpg") %>
			      <div class="flex-caption">
			      	<h2 class="slider-title">Nuestra Misión</h2>
			      	<p class="slider-description">Ofrecer productos y servicios turísticos con calidad, responsabilidad y cumplimiento gracias al profesionalismo de un talento humano que trabaja en equipo, con metas de mejoramiento continuo, que se apoya en soluciones tecnológicas para estar a la vanguardia de las necesidades de nuestros clientes.
			      								  </p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <%= image_tag("page/about-1.jpg") %>
			      <div class="flex-caption">
			      	<h2 class="slider-title">Nuestra Visión</h2>
			      	<p class="slider-description">En el año 2020 seremos una agencia de viajes y turismo de referencia en Colombia y especialmente en la región pacífica por la satisfacción de sus clientes y por ser un ente integrador y dinamizador de la cadena de productos y servicios alrededor de la industria turística de la zona.</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <%= image_tag("page/about-1.jpg") %>
			      <div class="flex-caption">
			      	<h2 class="slider-title">Nuestros valores</h2>
			      	<h3 class="slider-subtitle">Honestidad y Calidad</h3>
			      	<p class="slider-description">La confianza y satisfacción de nuestros clientes es nuestro mayor activo, por lo tanto, siempre estamos atentos a mantener una comunicación clara y transparente, así como a actuar de forma diligente para que los servicios ofrecidos se presten oportunamente y con la calidad esperada, siempre respetando las medidas de seguridad pertinentes.</p>
			      	<h3 class="slider-subtitle">Responsabilidad social y ambiental</h3>
			      	<p class="slider-description">En Naisa Tours SAS estamos comprometidos con el apoyo a la generación de oportunidades de empleo y emprendimiento empresarial alrededor de la industria del turismo. Apoyamos las causas sociales y propendemos por practicar turismo de conservación y respeto por el medio ambiente.</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="https://www.facebook.com/naisa.tours" target="_blank" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			  </ul>
			</div>
		</div>
	</section>		
	
	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top-med">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Nuestros Servicios</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
			<div class="row">
				<!-- Testimonial -->
				<div class="col-lg-12">
					<div class="col-lg-6">
						<div class="tm-what-we-do-left">
							<div class="tm-about-box-2 margin-bottom-30">
								<%= image_tag("page/about-2.jpg", options={alt:"", class:"tm-about-box-2-img", width:"250"}) %>
								<div class="tm-about-box-2-text">
									<h3 class="tm-about-box-2-title">Vuelos Chárter</h3>
					                <p class="tm-about-box-2-description">En Naisa Tours operamos vuelos chárter desde Bogotá, Medellín y Cali al Pacífico colombiano (Bahía Solano, Nuquí y Juradó).</p>
					                <p class="tm-about-box-2-footer"><a href="<%= reservas_path %>" class="tm-orange-btn2">Leer Más</a></p>	
								</div>		                
							</div>
							<div class="tm-about-box-2">
								<%= image_tag("page/about-5.jpg", options={alt:"", class:"tm-about-box-2-img", width:"250"}) %>
								<div class="tm-about-box-2-text">
									<h3 class="tm-about-box-2-title">Alojamiento</h3>
					                <p class="tm-about-box-2-description">En Bahía Solano tenemos convenios directos con hoteles y cabañas para ofrecer las mejores tarifas y el mejor servicio a nuestros clientes.</p>
					                <p class="tm-about-box-2-footer"><a href="<%= alojamiento_path %>" class="tm-orange-btn2">Leer Más</a></p>
								</div>    
							</div>
						</div>
					</div>
					
					<div class="col-lg-6">
						<div class="tm-what-we-do-left">
							<div class="tm-about-box-2 margin-bottom-30">
								<%= image_tag("page/about-3.jpg", options={alt:"", class:"tm-about-box-2-img", width:"250"}) %>
								<div class="tm-about-box-2-text">
									<h3 class="tm-about-box-2-title">Planes Turísticos</h3>
					                <p class="tm-about-box-2-description">Te ofrecemos los mejores planes de turismo ecológico, de aventura y descanso en el Pacífico colombiano y en destinos nacionales e internacionales.</p>
					                <p class="tm-about-box-2-footer"><a href="<%= planes_path %>" class="tm-orange-btn2">Leer Más</a></p>
								</div>		                
							</div>
							<div class="tm-about-box-2">
								<%= image_tag("page/about-4.jpg", options={alt:"", class:"tm-about-box-2-img", width:"250"}) %>
								<div class="tm-about-box-2-text">
									<h3 class="tm-about-box-2-title">Transporte de carga</h3>
					                <p class="tm-about-box-2-description">Ofrecemos servicio de transporte aéreo de carga desde Bogotá, Medellín y Quibdó hacia Bahía Solano y en sentido inversa.</p>
					                <p class="tm-about-box-2-footer"><a href="<%= carga_path %>" class="tm-orange-btn2">Leer Más</a></p>	
								</div>		                
							</div>
						</div>
					</div>
				</div>							
			</div>			
		</div>
	</section>
	
	<script>
		$(function() {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
		  	$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
		  	});		  	
		});
		$(window).load(function(){
			// Flexsliders
		  	$('.flexslider.flexslider-banner').flexslider({
			    controlNav: false
		    });
		  	$('.flexslider').flexslider({
		    	animation: "slide",
		    	directionNav: false,
		    	slideshow: false
		  	});
		});
	</script>