<section class="tm-white-bg section-padding-bottom" id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<% unless notice.nil? %>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<br>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<p id="notice"><%= notice %></p>
							</div>
						</div>
					</div>
				<% end %>
				
  				<div class="col-lg-6 col-md-6" id="form-wrapper">
	  				<div id="tm-form-header">
						<h1>Consultar División País</h1>
					</div>
					<div id="tm-form-content">
						<div class="col-lg-3 col-md-3">
							<p><strong>Entidad territorial:</strong></p>
							<p><strong>Unidad territorial:</strong></p>
							<p><strong>Divpais nivel:</strong></p>
							<p><strong>Divpais estadoregistro:</strong></p>
							<p>&nbsp;</p>
						</div>
						<div class="col-lg-9 col-md-9">
							<p><%= @division_pai.entidad_territorial_id %></p>
							<p><%= @division_pai.unidad_territorial_id %></p>
  							<p><%= @division_pai.divpais_nivel %></p>
  							<p><%= @division_pai.divpais_estadoRegistro %></p>
  							<p>&nbsp;</p>
						</div>
					</div>
					<div id="tm-form-footer">
						<%= link_to 'Regresar', division_pais_path, class:"button back" %> |
						<%= link_to 'Modificar', edit_division_pai_path(@division_pai), class:"button edit" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>